@import "../../../assets/fonts/font-definitions.scss";

nav {
    background-color: hsl(0, 0%, 37%);
    height: 100px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;

    div {
        position: relative;
        width: 15rem;
        padding-left: 100px;
        padding-top: 30px;
        
        span {
            font-family: "Nunito Sans", sans-serif;
            font-size: 2rem;
            color: #FCFAF9;
        }
    }
}