@import "../../../assets/fonts/font-definitions.scss";

.ratingDropdown {
    &-container {
        //padding: 100px;
       // width: 60%;
        
        h1 {
            //font-size: 5rem;
            font-family: 'Nunito Sans', sans-serif;
            color: #333;
            display: inline-block;
            margin-right: 10px;
        }
    }
}