@import "../../../assets/fonts/font-definitions.scss";
@import "../../../assets/styles/mixins.scss";

.dropdown {
    &__container {
        display: inline-block;
        position: relative;
    }

    &__button {
        // font-size: 4rem;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        color: #333;
        background-color: #48E5C2;
        text-transform: uppercase;
        padding: 0px 20px 0px 20px;
        border: solid 1px black;
        transition: background-color 0.5s ease;

        &:hover,
        &:focus {
            background-color: #F3D3BD;
        }
    }

    &__options {
        list-style-type: none;
        border: solid 2px black;
        position: absolute;
        width: 99%;
        padding: 0;
        margin-top: 0;
        text-align: center;
        background-color: #5E5E5E;
        color:#FCFAF9;

        li {
            font-family: 'Nunito Sans', sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 2rem;

            &:hover,
            &focus {
                background-color: #48E5C2;
                color: #333;
            }
        }
    }

    
}